#treeWrapper{
    display: flex;
    flex-direction: row;
}


rect.diffaddodd{
    fill: #ABF5D1 !important;
}

rect.diffaddeven{
    fill: #87DEB3 !important;
}

div.diffaddodd{
    background-color: #ABF5D1 !important;
}

div.diffaddeven{
    background-color: #87DEB3 !important;
}

rect.diffremoveodd{
    fill: #FA9D9D !important;
}

rect.diffremoveeven{
    fill: #FA8383 !important;
}

div.diffremoveodd{
    background-color: #FA9D9D !important;
}

div.diffremoveeven{
    background-color: #FA8383 !important;
}
